.app__laurels-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app__award-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app__award-image {
  display: flex;

  flex: 1;
  margin-left: 2rem;
}

.app__award-image img {
  width: 80%;
  /* height: 100%; */
}

@media screen and (max-width: 1080px) {
  .app__laurels-container {
    flex-direction: column;
  }
  .app__award-content {
    margin-bottom: 5rem;
  }
  .app__award-image img {
    width: 95%;
  }
}
