.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  color: aliceblue;
  border-bottom: 1px solid blue;
  font-family: var(--font-base);
  font-size: 26px;
}
.app_navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_navbar-links p {
  margin-right: 1rem;
}

.app_navbar-links p:hover {
  border-bottom: 1px solid yellow;
  cursor: pointer;
}

.app_navbar-logInBooking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_navbar-logInBooking p {
  margin-right: 1rem;
  cursor: pointer;
}

.app_navbar-logInBooking div {
  background: gray;
  height: 38px;
  width: 3px;
  margin: 0 1rem;
}

.app_navbar-title_img img {
  width: 150px;
}

.app_navbar-smallScreen {
  display: none;
}

.app__navbar-smallScreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  transition: 0.5s ease;

  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallScreen_overlay .overlay__close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;
  /* position: absolute;
  top: 20px;
  right: 20px; */
}

.app__navbar-smallScreen_links p {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}

.app__navbar-smallScreen_links p:hover {
  color: var(--color-);
}

@media screen and (max-width: 1080px) {
  .app_navbar-smallScreen {
    display: flex;
  }

  .app_navbar-links {
    display: none;
  }
}

@media screen and (max-width: 785px) {
  .app_navbar-logInBooking {
    display: none;
  }
  .app__navbar {
    padding: 1rem;
  }
}
